WSGP/Doc/xsd/sestavy/EvidencePravProOsobu.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="base.xsd"/> 
  <!-- Verze: 1.07 -->
  <xs:element name="EvidencePravProOsobu">
    <xs:complexType>
      <xs:all>
        <xs:element name="ZADANE_UDAJE">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TYP_OS" type="xs:string"/>
              <xs:element name="NAZEV_OS" type="xs:string"/>
              <xs:element name="ICO" type="xs:string"/>
              <xs:element name="PRIJMENI" type="xs:string"/>
              <xs:element name="JMENO" type="xs:string"/>
              <xs:element name="RC" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="UPLNA_SHODA" minOccurs="0">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element name="VLASTNICTVI">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ODPOVIDA_IDENTIFIKACI">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="a"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="OPRAV_SUBJEKT">
                      <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                          <xs:element name="CHAROS_KOD" type="xs:unsignedByte" minOccurs="0"/>
                          <xs:element name="NAZEV">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="id" type="ID_TYPE"/>
                                <xs:element minOccurs="0" name="bsm1_id" type="ID_TYPE"/>
                                <xs:element minOccurs="0" name="bsm2_id" type="ID_TYPE"/>
                                <xs:element minOccurs="0" name="nazev" type="xs:string"/>
                                <xs:element minOccurs="0" name="prijmeni" type="xs:string"/>
                                <xs:element minOccurs="0" name="jmeno" type="xs:string"/>
                                <xs:element minOccurs="0" name="titul_pred" type="xs:string"/>
                                <xs:element minOccurs="0" name="titul_za" type="xs:string"/>
                                <xs:element minOccurs="0" name="bsm1_prijmeni" type="xs:string"/>
                                <xs:element minOccurs="0" name="bsm1_jmeno" type="xs:string"/>
                                <xs:element minOccurs="0" name="bsm1_pred" type="xs:string"/>
                                <xs:element minOccurs="0" name="bsm1_za" type="xs:string"/>
                                <xs:element minOccurs="0" name="bsm2_prijmeni" type="xs:string"/>
                                <xs:element minOccurs="0" name="bsm2_jmeno" type="xs:string"/>
                                <xs:element minOccurs="0" name="bsm2_pred" type="xs:string"/>
                                <xs:element minOccurs="0" name="bsm2_za" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="IDENT">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:choice maxOccurs="unbounded">
                                  <xs:element minOccurs="0" name="id" type="ID_TYPE"/>
                                  <xs:element name="rc6" type="xs:string"/>
                                  <xs:element name="rc7" type="xs:string"/>
                                  <xs:element name="ico" type="xs:string"/>
                                  <xs:element name="ico_doplnek" type="xs:string"/>
                                  <xs:element minOccurs="0" name="bsm1_id" type="ID_TYPE"/>
                                  <xs:element minOccurs="0" name="bsm2_id" type="ID_TYPE"/>
                                </xs:choice>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ADRESA">
                            <xs:complexType>
                              <xs:sequence maxOccurs="unbounded">
                                <xs:element name="adresa" type="AdresaType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="PRAV_VZTAHY">
                            <xs:complexType>
                              <xs:sequence minOccurs="0">
                                <xs:element name="TYPRAV" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="TYPRAV_NAZEV" type="xs:string"/>
                                      <xs:element name="OKRESY">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="OKRES" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="OKRES">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="nuts4" type="xs:string"/>
                                                        <xs:element name="nazev" type="xs:string"/>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="OBCE">
                                                    <xs:complexType>
                                                      <xs:sequence maxOccurs="unbounded">
                                                        <xs:element name="OBEC">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="OBEC">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element name="kod" type="xs:unsignedInt"/>
                                                                    <xs:element name="nazev" type="xs:string"/>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                              <xs:element name="KATASTRY">
                                                                <xs:complexType>
                                                                  <xs:sequence maxOccurs="unbounded">
                                                                    <xs:element name="KATASTR">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element name="KATUZE">
                                                                            <xs:complexType>
                                                                              <xs:sequence>
                                                                                <xs:element name="kod" type="xs:unsignedInt"/>
                                                                                <xs:element name="nazev" type="xs:string"/>
                                                                              </xs:sequence>
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                          <xs:element name="TELESA">
                                                                            <xs:complexType>
                                                                              <xs:sequence>
                                                                                <xs:element name="TELESO" maxOccurs="unbounded">
                                                                                  <xs:complexType>
                                                                                    <xs:sequence>
                                                                                      <xs:element name="LV" type="xs:string"/>
                                                                                      <xs:element name="JPV_LV" type="xs:string"/>
                                                                                      <xs:element name="TEL_ID" type="ID_TYPE"/>
                                                                                      <xs:element name="PRSV_IDENT">
                                                                                        <xs:complexType>
                                                                                          <xs:sequence>
                                                                                            <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                                              <xs:element name="parcela" type="ParcelaType"/>
                                                                                              <xs:element name="stavba" type="StavbaType"/>
                                                                                              <xs:element name="jednotka" type="JednotkaType"/>
                                                                                              <xs:element name="pravo_stavby" type="PravoStavbyType"/>
                                                                                            </xs:choice>
                                                                                          </xs:sequence>
                                                                                        </xs:complexType>
                                                                                      </xs:element>
                                                                                      <xs:element name="RIZENI" type="RizeniType"/>
                                                                                      <xs:element name="PODIL" type="PodilType"/>
                                                                                    </xs:sequence>
                                                                                  </xs:complexType>
                                                                                </xs:element>
                                                                              </xs:sequence>
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                        </xs:sequence>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="TEXT" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="NESHODA" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TEXT" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CASTECNA_SHODA" minOccurs="0">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element name="TEXT" type="xs:string"/>
              <xs:element name="OPRAV_SUBJEKTY">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OPSUB" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="NAZEV">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="id" type="ID_TYPE"/>
                                <xs:element minOccurs="0" name="bsm1_id" type="ID_TYPE"/>
                                <xs:element minOccurs="0" name="bsm2_id" type="ID_TYPE"/>
                                <xs:element minOccurs="0" name="nazev" type="xs:string"/>
                                <xs:element minOccurs="0" name="prijmeni" type="xs:string"/>
                                <xs:element minOccurs="0" name="jmeno" type="xs:string"/>
                                <xs:element minOccurs="0" name="titul_pred" type="xs:string"/>
                                <xs:element minOccurs="0" name="titul_za" type="xs:string"/>
                                <xs:element minOccurs="0" name="bsm1_prijmeni" type="xs:string"/>
                                <xs:element minOccurs="0" name="bsm1_jmeno" type="xs:string"/>
                                <xs:element minOccurs="0" name="bsm1_pred" type="xs:string"/>
                                <xs:element minOccurs="0" name="bsm1_za" type="xs:string"/>
                                <xs:element minOccurs="0" name="bsm2_prijmeni" type="xs:string"/>
                                <xs:element minOccurs="0" name="bsm2_jmeno" type="xs:string"/>
                                <xs:element minOccurs="0" name="bsm2_pred" type="xs:string"/>
                                <xs:element minOccurs="0" name="bsm2_za" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="CHAROS_KOD" type="xs:unsignedByte"/>
                          <xs:element name="IDENT">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:choice maxOccurs="unbounded">
                                  <xs:element minOccurs="0" name="id" type="ID_TYPE"/>
                                  <xs:element name="rc6" type="xs:string"/>
                                  <xs:element name="rc7" type="xs:string"/>
                                  <xs:element name="ico" type="xs:string"/>
                                  <xs:element name="ico_doplnek" type="xs:string"/>
                                  <xs:element minOccurs="0" name="bsm1_id" type="ID_TYPE"/>
                                  <xs:element minOccurs="0" name="bsm2_id" type="ID_TYPE"/>                                  
                                </xs:choice>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ADRESA">
                            <xs:complexType>
                              <xs:sequence maxOccurs="unbounded">
                                <xs:element name="adresa" type="AdresaType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PLATNOST" type="xs:string"/>
        <xs:element name="VYHOTOVIL" type="xs:string"/>
        <xs:element name="BEZPL_PRISTUP" type="xs:string"/>
        <xs:element name="VYHOTOVENO" type="xs:string"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
