WSGP/Doc/xsd/sestavy/InformaceOStavbach.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="base.xsd"/> 
  <!-- Verze: 1.07 -->
  <xs:element name="InformaceOStavbach">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="REPORT">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OKRES">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nuts4" type="xs:string"/>
                    <xs:element name="nazev" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="OBEC">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="kod" type="xs:unsignedInt"/>
                    <xs:element name="nazev" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="KATUZE">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="kod" type="xs:unsignedInt"/>
                    <xs:element name="nazev" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="STAVBY">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="STAVBA" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="POCET_STAVEB" type="xs:unsignedInt" minOccurs="0"/>
                          <xs:element name="TYP_KOD" type="xs:unsignedByte"/>
                          <xs:element name="CISLO_DOMOVNI" type="xs:string"/>
                          <xs:element name="ZP_VYUZ" type="xs:string"/>
                          <xs:element name="CP_CE">
                            <xs:complexType>
                              <xs:sequence minOccurs="0">
                                <xs:element name="stavba" type="StavbaType"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="TYP_STAVBY" type="xs:string"/>
                          <xs:element name="ADRESA_STAVBY">
                            <xs:complexType>
                              <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                <xs:element name="adresni_misto" type="ID_TYPE" minOccurs="0"/>
                                <xs:element name="ulice" type="xs:string" minOccurs="0"/>
                                <xs:element name="cdomu" type="xs:string" minOccurs="0"/>
                                <xs:element name="co" type="xs:string" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="OCHRANA">
                            <xs:complexType>
                              <xs:sequence minOccurs="0">
                                <xs:element name="zpochr" type="xs:string" maxOccurs="unbounded"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="RIZENI" type="RizeniType"/>
                          <xs:element name="POPIS_STAVBY" type="xs:string"/>
                          <xs:element name="DALSI_UDAJE">
                            <xs:complexType>
                              <xs:choice minOccurs="0" maxOccurs="unbounded">
                                <xs:element name="stavba_soucasti_pozemku" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="parcela" type="ParcelaType" minOccurs="0"/>
                                      <xs:element name="tel_id" type="ID_TYPE" minOccurs="0"/>
                                      <xs:element name="cislo_tel" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="stavba_soucasti_prava_stavby" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="tel_id" type="ID_TYPE" minOccurs="0"/>
                                      <xs:element name="cislo_tel" type="xs:string" minOccurs="0"/>
                                      <xs:element name="ku_nazev" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DOCASNA_STAVBA" type="xs:string" minOccurs="0"/>
                          <xs:element name="LIST_G_VAZBA_JPV" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="G_VAZBA_JPV" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="BUD_ID3" type="xs:string" minOccurs="0"/>
                                      <xs:element name="T_JPV" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="BUD_NA_PARCELE">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="NA_PARCELE" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="PARCELNI_CISLO">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="parcela" type="ParcelaType"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="VAZBA_JPV" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="TEXT" type="xs:string" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="PARCELY">
                            <xs:complexType>
                              <xs:sequence maxOccurs="unbounded" minOccurs="0">
                                <xs:element name="PARCELA">
                                  <xs:complexType>
                                    <xs:all>
                                      <xs:element name="PARCELNI_CISLO">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="parcela" type="ParcelaType"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="PLOMBY_PAR">
                                        <xs:complexType>
                                          <xs:sequence minOccurs="0">
                                            <xs:element name="PLOMBA_RIZENI" type="RizeniType" maxOccurs="unbounded"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="LV_PARCELY" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence minOccurs="0">
                                            <xs:element name="C_TEL">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="tel_id" type="ID_TYPE"/>
                                                  <xs:element name="cislo_tel" type="xs:unsignedInt"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="OS_PARCELY">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" name="OPSUB">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="OPSUB_NAZEV">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="id" type="ID_TYPE" minOccurs="0"/>
                                                              <xs:element name="bsm1_id" type="ID_TYPE" minOccurs="0"/>
                                                              <xs:element name="bsm2_id" type="ID_TYPE" minOccurs="0"/>
                                                              <xs:element minOccurs="0" name="prijmeni" type="xs:string"/>
                                                              <xs:element minOccurs="0" name="jmeno" type="xs:string"/>
                                                              <xs:element minOccurs="0" name="titul_pred" type="xs:string"/>
                                                              <xs:element minOccurs="0" name="titul_za" type="xs:string"/>
                                                              <xs:element minOccurs="0" name="bsm1_prijmeni" type="xs:string"/>
                                                              <xs:element minOccurs="0" name="bsm1_jmeno" type="xs:string"/>
                                                              <xs:element minOccurs="0" name="bsm1_pred" type="xs:string"/>
                                                              <xs:element minOccurs="0" name="bsm1_za" type="xs:string"/>
                                                              <xs:element minOccurs="0" name="bsm2_prijmeni" type="xs:string"/>
                                                              <xs:element minOccurs="0" name="bsm2_jmeno" type="xs:string"/>
                                                              <xs:element minOccurs="0" name="bsm2_pred" type="xs:string"/>
                                                              <xs:element minOccurs="0" name="bsm2_za" type="xs:string"/>
                                                              <xs:element minOccurs="0" name="nazev" type="xs:string"/>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="OPSUB_ADRESA">
                                                          <xs:complexType>
                                                            <xs:sequence maxOccurs="unbounded">
                                                              <xs:element name="adresa" type="AdresaType"/>
                                                            </xs:sequence>
                                                            </xs:complexType>
                                                          </xs:element>
                                                          <xs:element name="CHAROS" type="xs:string"/>
                                                          <xs:element name="PODIL" type="PodilType"/>
                                                          <xs:element name="TYPRAV_NAZEV" type="xs:string"/>
                                                        </xs:sequence>
                                                      </xs:complexType>
                                                    </xs:element>
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:element name="LV_KATUZE" minOccurs="0">
                                          <xs:complexType>
                                            <xs:sequence minOccurs="0">
                                              <xs:element name="LV_KATUZE_KOD" type="xs:unsignedInt"/>
                                              <xs:element name="LV_KATUZE_NAZEV" type="xs:string"/>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:element name="VLASTNICTVI">
                                          <xs:complexType>
                                            <xs:sequence minOccurs="0">
                                              <xs:element name="LV">
                                                <xs:complexType>
                                                  <xs:sequence minOccurs="0">
                                                    <xs:element name="tel_id" type="ID_TYPE" minOccurs="0"/>
                                                    <xs:element name="cislo_tel" type="xs:string"/>
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                              <xs:element name="SUBJEKTY">
                                                <xs:complexType>
                                                  <xs:sequence>
                                                    <xs:element name="SUBJEKT" maxOccurs="unbounded">
                                                      <xs:complexType>
                                                        <xs:sequence>
                                                          <xs:element name="VLA_IDENT">
                                                            <xs:complexType>
                                                              <xs:sequence>
                                                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                  <xs:element name="oprav_subjekt" type="OpsubIdentType"/>
                                                                  <xs:element name="parcela" type="ParcelaType"/>
                                                                  <xs:element name="stavba" type="StavbaType"/>
                                                                  <xs:element name="jednotka" type="JednotkaType"/>
                                                                  <xs:element name="pravo_stavby" type="PravoStavbyType"/>
                                                                </xs:choice>
                                                              </xs:sequence>
                                                            </xs:complexType>
                                                          </xs:element>
                                                          <xs:element name="PODIL" type="PodilType"/>
                                                          <xs:element name="TYPRAV_NAZEV" type="xs:string"/>
                                                          <xs:element name="CHAROS" type="xs:string"/>
                                                          <xs:element name="VLA_IDENT2">
                                                            <xs:complexType>
                                                              <xs:sequence>
                                                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                  <xs:element name="oprav_subjekt" type="OpsubIdentType"/>
                                                                  <xs:element name="parcela" type="ParcelaType"/>
                                                                  <xs:element name="stavba" type="StavbaType"/>
                                                                  <xs:element name="jednotka" type="JednotkaType"/>
                                                                  <xs:element name="pravo_stavby" type="PravoStavbyType"/>
                                                                </xs:choice>
                                                              </xs:sequence>
                                                            </xs:complexType>
                                                          </xs:element>
                                                        </xs:sequence>
                                                      </xs:complexType>
                                                    </xs:element>
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:all>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="LV_PARCELY" minOccurs="0">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="C_TEL">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="tel_id" type="ID_TYPE"/>
                                              <xs:element name="cislo_tel" type="xs:unsignedInt"/>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:element name="OS_PARCELY">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element maxOccurs="unbounded" name="OPSUB">
                                                <xs:complexType>
                                                  <xs:sequence>
                                                    <xs:element name="OPSUB_NAZEV">
                                                      <xs:complexType>
                                                        <xs:sequence>
                                                          <xs:element name="id" type="ID_TYPE" minOccurs="0"/>
                                                          <xs:element name="bsm1_id" type="ID_TYPE" minOccurs="0"/>
                                                          <xs:element name="bsm2_id" type="ID_TYPE" minOccurs="0"/>
                                                          <xs:element minOccurs="0" name="prijmeni" type="xs:string"/>
                                                          <xs:element minOccurs="0" name="jmeno" type="xs:string"/>
                                                          <xs:element minOccurs="0" name="titul_pred" type="xs:string"/>
                                                          <xs:element minOccurs="0" name="titul_za" type="xs:string"/>
                                                          <xs:element minOccurs="0" name="bsm1_prijmeni" type="xs:string"/>
                                                          <xs:element minOccurs="0" name="bsm1_jmeno" type="xs:string"/>
                                                          <xs:element minOccurs="0" name="bsm1_pred" type="xs:string"/>
                                                          <xs:element minOccurs="0" name="bsm1_za" type="xs:string"/>
                                                          <xs:element minOccurs="0" name="bsm2_prijmeni" type="xs:string"/>
                                                          <xs:element minOccurs="0" name="bsm2_jmeno" type="xs:string"/>
                                                          <xs:element minOccurs="0" name="bsm2_pred" type="xs:string"/>
                                                          <xs:element minOccurs="0" name="bsm2_za" type="xs:string"/>
                                                          <xs:element minOccurs="0" name="nazev" type="xs:string"/>
                                                        </xs:sequence>
                                                      </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="OPSUB_ADRESA">
                                                      <xs:complexType>
                                                        <xs:sequence maxOccurs="unbounded">
                                                          <xs:element name="adresa" type="AdresaType"/>
                                                        </xs:sequence>
                                                      </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="CHAROS" type="xs:string"/>
                                                    <xs:element name="PODIL" type="PodilType"/>
                                                    <xs:element name="TYPRAV_NAZEV" type="xs:string"/>
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="LV_KATUZE" type="xs:string" minOccurs="0"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="VLASTNICTVI">
                              <xs:complexType>
                                <xs:sequence minOccurs="0">
                                  <xs:element name="LV">
                                    <xs:complexType>
                                      <xs:sequence minOccurs="0">
                                        <xs:element name="tel_id" type="ID_TYPE" minOccurs="0"/>
                                        <xs:element name="cislo_tel" type="xs:string"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="SUBJEKTY">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="SUBJEKT" maxOccurs="unbounded">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="VLA_IDENT">
                                                <xs:complexType>
                                                  <xs:sequence>
                                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                      <xs:element name="oprav_subjekt" type="OpsubIdentType"/>
                                                      <xs:element name="parcela" type="ParcelaType"/>
                                                      <xs:element name="stavba" type="StavbaType"/>
                                                      <xs:element name="jednotka" type="JednotkaType"/>
                                                      <xs:element name="pravo_stavby" type="PravoStavbyType"/>
                                                    </xs:choice>
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                              <xs:element name="PODIL" type="PodilType"/>
                                              <xs:element name="TYPRAV_NAZEV" type="xs:string"/>
                                              <xs:element name="CHAROS" type="xs:string"/>
                                              <xs:element name="VLA_IDENT2">
                                                <xs:complexType>
                                                  <xs:sequence>
                                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                      <xs:element name="oprav_subjekt" type="OpsubIdentType"/>
                                                      <xs:element name="parcela" type="ParcelaType"/>
                                                      <xs:element name="stavba" type="StavbaType"/>
                                                      <xs:element name="jednotka" type="JednotkaType"/>
                                                      <xs:element name="pravo_stavby" type="PravoStavbyType"/>
                                                    </xs:choice>
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="PLOMBY_STAV" minOccurs="0">
                              <xs:complexType>
                                <xs:sequence minOccurs="0">
                                  <xs:element name="PLOMBA_RIZENI" type="RizeniType" maxOccurs="unbounded"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:all>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="CS_POCET_STAVEB" type="xs:string" minOccurs="0"/>
          <xs:element name="PLATNOST" type="xs:string"/>
          <xs:element name="VYHOTOVIL" type="xs:string"/>
          <xs:element name="BEZPL_PRISTUP" type="xs:string"/>
          <xs:element name="VYHOTOVENO" type="xs:string"/>
          <xs:element name="INFO_VYSTUP" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
</xs:schema>
