WSGP/Doc/xsd/sestavy/PrehledVlastnictvi.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="base.xsd"/> 
  <!-- Verze: 1.09 -->
  <xs:element name="PrehledVlastnictvi">
    <xs:complexType>
      <xs:all>
        <xs:element name="PRAV_VZTAHY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TYPPRA">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TYPRAV_NAZEV" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OPRAV_SUBJEKT">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CHAROS_KOD" type="xs:unsignedByte"/>
              <xs:element name="OPSUB_NAZEV">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="ID_TYPE" minOccurs="0"/>
                    <xs:element name="bsm1_id" type="ID_TYPE" minOccurs="0"/>
                    <xs:element name="bsm2_id" type="ID_TYPE" minOccurs="0"/>
                    <xs:element name="prijmeni" type="xs:string" minOccurs="0"/>
                    <xs:element name="jmeno" type="xs:string" minOccurs="0"/>
                    <xs:element name="titul_pred" type="xs:string" minOccurs="0"/>
                    <xs:element name="titul_za" type="xs:string" minOccurs="0"/>
                    <xs:element name="bsm1_prijmeni" type="xs:string" minOccurs="0"/>
                    <xs:element name="bsm1_jmeno" type="xs:string" minOccurs="0"/>
                    <xs:element name="bsm1_pred" type="xs:string" minOccurs="0"/>
                    <xs:element name="bsm1_za" type="xs:string" minOccurs="0"/>
                    <xs:element name="bsm2_prijmeni" type="xs:string" minOccurs="0"/>
                    <xs:element name="bsm2_jmeno" type="xs:string" minOccurs="0"/>
                    <xs:element name="bsm2_pred" type="xs:string" minOccurs="0"/>
                    <xs:element name="bsm2_za" type="xs:string" minOccurs="0"/>
                    <xs:element name="nazev" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="OPSUB_IDENT">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                      <xs:element name="id" type="ID_TYPE"/>
                      <xs:element name="rc6" type="xs:string"/>
                      <xs:element name="rc7" type="xs:string"/>
                      <xs:element name="ico" type="xs:string"/>
                      <xs:element name="ico_doplnek" type="xs:string"/>
                      <xs:element name="bsm1_id" type="ID_TYPE" minOccurs="0"/>
                      <xs:element name="bsm2_id" type="ID_TYPE" minOccurs="0"/>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="OPSUB_ADRESA">
                <xs:complexType>
                  <xs:sequence maxOccurs="unbounded">
                    <xs:element name="adresa" type="AdresaType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OKRESY">
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element name="OKRES">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nuts4" type="xs:string"/>
                    <xs:element name="nazev" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="OBCE">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="OBEC">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="kod" type="xs:unsignedInt"/>
                          <xs:element name="nazev" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="KATASTRALNI_UZEMI">
                      <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                          <xs:element name="KATUZE">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="kod" type="xs:unsignedInt"/>
                                <xs:element name="nazev" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="TYPY_PRAV_VZTAHU">
                            <xs:complexType>
                              <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                <xs:element name="TYP_PRAV_VZTAHU">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="TYPRAV_NAZEV" type="xs:string"/>
                                      <xs:element name="TELESA">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="TELESO" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="LV" type="xs:string"/>
                                                  <xs:element name="PRSV_IDENT">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                          <xs:element name="parcela" type="ParcelaType"/>
                                                          <xs:element name="stavba" type="StavbaType"/>
                                                          <xs:element name="jednotka" type="JednotkaType"/>
                                                          <xs:element name="pravo_stavby" type="PravoStavbyType"/>
                                                        </xs:choice>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="PODIL" type="PodilType"/>
                                                  <xs:element name="TEL_ID" type="ID_TYPE"/>
                                                  <xs:element name="JPV_LV" type="xs:string"/>
                                                  <xs:element name="RIZENI" type="RizeniType"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CP_OMEZENI" type="xs:string"/>
        <xs:element name="CP_PRACOVISTE" type="xs:string"/>
        <xs:element name="PLATNOST" type="xs:string"/>
        <xs:element name="VYHOTOVIL" type="xs:string"/>
        <xs:element name="BEZPL_PRISTUP" type="xs:string"/>
        <xs:element name="VYHOTOVENO" type="xs:string"/>
        <xs:element name="INFO_VYSTUP" type="xs:string" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
